.screen{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    min-width: 350px;
    border: 2px solid black;
    background:linear-gradient(30deg, purple,darkviolet 40%, aqua);
    
}